*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    background-color: rgb(246,246,246);
}
a{
	text-decoration: none;
}
.body {
	/* width: 308.6px; */
	width: 100%;
    color: #555;
    font-family: Lato,sans-serif;
    font-size: 15px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.body > .intro{
	height: 293px;
	margin-bottom: 20px;
	background-color: rgb(255,255,255);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 9px;
	flex-wrap: wrap;
}
.body > .intro .article{
	margin-left: 10px;
}
.body img{
	width: 308.6px;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
}
.body .article .point::before
{
	content: "â—";
	color: yellowgreen;
	margin-right: 6px;
}
.body .article > a::before{
	content: "!";
	color: red;
	margin-right: 6px;
}
.body .article .point:nth-child(1)::before{
	color: orange;
}
.body .article .point:nth-child(2)::before{
	color: yellow;
}
.body .article .point{
	color: #aaa;
	font-size: 11px;
}
.body .article > a{
	width: 300px;
	display: block;
	margin: 20px 0;
	color: #000000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 700;
}
.body button{
	width: 250px;
	height: 34.4px;
	border: none;
	border-radius: 4px;
	margin: 0 60px 18px 60px;
	background-color: #34495E;
	color: #fff;
	cursor: pointer;
}